.home {
  .homeContainer {
    height: calc(100vh - 70px);
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;

    .homeTitle {
      text-transform: uppercase;
    }

    .homeDetails {
      margin: 20px 0;
      font-weight: 500;
      color: #c6c6c6;

      @media (max-width: 667px) {
        text-align: justify;
      }
    }

    .homeFunctions {
    }

    .homeImages {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;

      .homeImage {
        max-width: 70;
        height: 70px;
        object-fit: cover;
      }
    }
  }
}
